@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #323232;
}
.container{
  display: flex;
  align-items:center;
  justify-content: center;
  height: 100vh;
  background: #323232;
  font-family: 'Hammersmith One', sans-serif;
}
.card{
  width: 350px;
  margin: 0 20px;
  text-align: center;
  position: relative;
}
.card .img{
  height: 200px;
  width: 100%;
  
}
.card .img img{
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.card .top-text{
  padding: 5px;
}
.card .top-text .name{
  font-size: 25px;
  font-weight: 600;
  color: #202020;
  
}
.card .top-text p{
  font-size: 20px;
  font-weight: 600;
  color: #e74c3c;
  line-height: 20px;
}
.card .bottom-text{
padding: 0 20px 10px 20px;
margin-top: 30px;
background: #202020;
color: white;
transform: translateY(-150px);
transition: 0.3s;
}
.card .bottom-text .btn{
  margin: 10px 0;
  text-align: left;
}
.card .bottom-text .btn a{
  text-decoration: none;
  background:#e74c3c;
  padding: 5px 8px;
  border-radius: 3px;
  display: inline-flex;
  color: #fff;
}
.card .bottom-text .btn a:hover{
  transform: scale(0.9);
}
.text{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card .bottom-text .tec{
  text-align: center;
  width: 85px;
  height: 28px;
  padding: 5px;
  margin: 6px;
  background: #202020;
  display: inline-block;
  box-shadow: 3px 3px 5px #323232,
              -3px -3px 5px #000000;
  transition: 0.2s;
}

.card .bottom-text .c-titulo{
display: flex;
margin-bottom: 10px;
}
.card .bottom-text .titulo-inferior{
  margin-top: -13px;
  padding: 4px;
  background: red;
  display: inline-block;
}
.card .bottom-text .tec:hover{
  transform: scale(0.9);
}
.delocamento{
  background: white;
  position: relative;
  z-index:3;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  transition: 0.4s;
}
.classe{
  border: 1px solid red;
}
.sub-container:hover .bottom-text {
  transform: translateY(0px);
}
.redes{
  height: 403px;
  width: 60px;
  background:#202020; ;
  transition:0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}
.redes-sub{
  height: 403px;
  width: 50px;
  transition:0.3s;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
  
}
.sub-container:hover .redes-sub{
  opacity: 1;
  visibility: visible;
}
.sub-container:hover .img-redes:nth-child(1) {
  transform: translateX(-493px);
  transition-delay:0.6s;
  opacity: 1;
  visibility: visible;
}
.sub-container:hover .img-redes:nth-child(2) {
  transform: translateX(-493px);
  transition-delay:0.7s;
  opacity: 1;
  visibility: visible;
}
.sub-container:hover .img-redes:nth-child(3) {
  transform: translateX(-493px);
  transition-delay:0.8s;
  opacity: 1;
  visibility: visible;
}
.sub-container:hover .img-redes:nth-child(4) {
  transform: translateX(-493px);
  transition-delay:0.9s;
  opacity: 1;
  visibility: visible;
}
.sub-container:hover .img-redes:nth-child(5) {
  transform: translateX(-493px);
  transition-delay:1s;
  opacity: 1;
  visibility: visible;
}
.sub-container:hover .redes {
  transform: translateX(-439px);
  transition-delay: 0.6s;
  opacity: 1;
  visibility: visible;
}
.sub-container{
  display: flex;
  align-items: center;
  margin: auto;
  transition: 0.5s;
}
.img-redes{
display: flex;
justify-content: center;
align-items: center;
width: 40px;
height: 40px;
border-radius: 50%;
overflow: hidden;
opacity: 0;
visibility: hidden;
box-shadow: 3px 3px 5px #323232,
              -3px -3px 5px #000000;
transition: 0.2s;
}
.img-redes img{
  width: 105%;
  height: 105%;
  object-fit: cover;
  
}
.next-studies{
  height: 403px;
  width: 130px;
  background:#202020; ;
  transition:0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  opacity: 0;
  visibility: hidden;
}
.studies-t{
  color: #fff;
  background-color: red;
  padding: 4px;
  margin: 8px;
}
.studies{
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.studies-inner{
  color: #fff;
  text-align: center;
  width: 85px;
  height: 28px;
  padding: 5px;
  margin: 6px;
  background: #202020;
  display: inline-block;
  box-shadow: 3px 3px 5px #323232,
              -3px -3px 5px #000000;
  transition: 0.3s;
}

.sub-container:hover .next-studies{
  transform: translateX(510px);
  transition-delay:0.3s;
  opacity: 1;
  visibility: visible;
  display: flex;
}
@media (max-width: 950px){
  .sub-container:hover{
    transform: translateX(-46px);
  }
}
@media (max-width: 575px){
  .sub-container:hover .redes{
    background-color: none;
  }
  .sub-container{
    flex-direction: column-reverse;
  }
  .redes-sub, .redes {
     width: 350px;
     height: 60px;
     display: flex;
     flex-direction: row;
  }
  .redes{
    transform: translateX(-1000px);     
  }
  .sub-container:hover .redes{
    transform: translateX(0px);
  }

  .img-redes{
    transform: translateY(-300px);
  }
   .sub-container:hover .img-redes:nth-child(1) {
    transform: translateY(60px);
    transition-delay:0.6s;
    opacity: 1;
    visibility: visible;
  }
  .sub-container:hover .img-redes:nth-child(2) {
    transform: translateY(60px);
    transition-delay:0.7s;
    opacity: 1;
    visibility: visible;
  }
  .sub-container:hover .img-redes:nth-child(3) {
    transform: translateY(60px);
    transition-delay:0.8s;
    opacity: 1;
    visibility: visible;
  }
  .sub-container:hover .img-redes:nth-child(4) {
    transform: translateY(60px);
    transition-delay:0.9s;
    opacity: 1;
    visibility: visible;
  }
  .sub-container:hover .img-redes:nth-child(5) {
    transform: translateY(60px);
    transition-delay:1s;
    opacity: 1;
    visibility: visible;
  }
 .next-studies, .studies{
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
 }
 .next-studies{
   width: 350px;
   height: auto;
   transform: translateX(-1000px);
   }
   .sub-container:hover .next-studies{
    transform: translateX(0px);
   }
   .sub-container:hover .titulo-inferior{
    margin-top: 20px;
   }
   .sub-container:hover .studies-t{
     margin: 10px 0px 10px 20px;
   }
   .sub-container:hover .studies{
     margin: 0;
     padding: 0 25px 10px 25px;
   }
   .sub-container:hover .bottom-text{
   margin-top: 0px;
   }
   .sub-container:hover{
    transform: translateX(0px);
  }
  .sub-container{
    margin-bottom: 50px;
  }
}
